<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @order_ticket.description %>
</p>

<%= link_to 'Edit', edit_order_ticket_path(@order_ticket) %> |
<%= link_to 'Back', order_tickets_path %>
